@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e6f4ea; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4CAF50; 
  border-radius: 10px;
  border: 2px solid #e6f4ea;
}

::-webkit-scrollbar-thumb:hover {
  background: #388e3c; 
}
